
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Companion</title>
    <style>
		.box {
			width: 200px;
			height: 200px;
			border: 1px solid black;
			background-color: lightgray;
			padding: 10px;
			box-sizing: border-box;
		}
	</style>
</head>
<body style="background-color: #f1f1f1;">
    <h1>Campus Companion</h1>
    <img src="pic_trulli.jpg" alt="Our Logo">
    <ul>
        <li>Select School:</li>
      </ul>
    <button>Submit</button>

    <h2>Map of Your School:</h2>
    <div class="box">
		<h2>Box Title</h2>
		<p>Box content goes here.</p>
	</div>
      PUT CODE HERE ADITYA:


</body>
</html>


